@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Open+Sans&display=swap');



h1 {
    font-family: lobster;
  }
  
h2, h3, label, p {
    font-family: cursive;
  }

nav {
  background-color: #7ABFB3;
  }

  .hero-image {
    background-image: url("/img/pallet-back-grd.jpg");
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: .9;
    color: greenyellow;
  }

  button {
    background-color: #3ca7bb;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #7abfb3;
  }

  .col-sm-6 {
    background-color: #CDDCDF;
    color: #01141A;
  }
 
#safety {
  background-color: #CDDCDF;
  color: #01141A;
}

.form-width {
  max-width: 500px;
  margin: auto;
}

.carousel-item 





/*for contact form*/

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

#subject, #fname, #lname {
  font-family: cursive;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #3ca7bb;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #3ca7bb;
  color: cddcdf;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #7abfb3;
  
}
.container-1 {
  border-radius: 5px;
  background-color: #cddcdf;
  padding: 20px;
}

.footer {
  background-color: #7ABFB3;
}

.container-2 {
  border-radius: 5px;
  padding: 0px;
}

/* Color Theme Swatches in Hex */
.color-theme_Greatdane-logo-1-hex { color: #3CA7BB; }
.color-theme_Greatdane-logo-2-hex { color: #01141A; }
.color-theme_Greatdane-logo-3-hex { color: #7ABFB3; }
.color-theme_Greatdane-logo-4-hex { color: #CDDCDF; }
.color-theme_Greatdane-logo-5-hex { color: #21826F; }



